html, body {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  width: 100%;
  height: 100%; 
  flex-direction: column;
}

.App-Header {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 3.5em;
  border-bottom: 1px solid #E0E0E0;
  padding: 1rem 0;
  background: #F52D37;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  justify-content: space-between;
}

.LeftMajor {
  padding-left: 2rem;
}

.RightMinor {
  padding-right: 2rem;
  display: flex;
}

.RightMinor>div {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  transition: color .3s;
  color: white;
  cursor: pointer;
}

.RightMinor>div:hover {
  color: #cacaca;
}

.Header-Logo {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: white;
}

.App-AllPanels {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 3.5em; 
}

.NonMapPanel {
  width: 66.666%;
  display: flex;
  flex-direction: column;
}

.Map {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  height: calc(100vh - 3.5em);
  position: fixed;
  right: 0;
  z-index: 99999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);  
}

.MapPanelViewSelectionBtns {
  display: flex;
  flex-direction: row;
  min-height: 3.5em;
  align-items: flex-end;
  background: #e5e3df;
  margin-bottom: 2px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 0.75em;
  font-weight: 200;
  justify-content: center;
  flex-wrap: wrap;
}

.MapPanelViewSelectionBtns>div{
  height: 2.5em;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 1.5em;
  color: #a5a5a5;
  cursor: pointer;
  margin-bottom: 0px;
  
}

.MapPanelViewSelectionBtns>div:hover{
  color: #F52D37 !important;
  transition: color 0.3s ease;
  /* border: 1px solid #d7d7d7;
  border-bottom: 1px solid white; */
}

.MapOrDetailBtnSelected {
  background: white;
  color: #F52D37 !important;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid white;
  transition: background-color .2s ease;
}

.MainMapViewDiv,
.Map-loading-elem,
.Map-container-elem,
.Map-mapElement,
.DetailOrMap,
.Details-view {
  height: 100%;
  width: 100%;
}

.DetailOrMap {
  height: 90%;
  flex-grow: 1;
}

.Details-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;;
}

.Detail-picMap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33.333%;
}

.DetailMap {
  width: 100%;
}

.DetailPicture {
  /* height: 200px;
  border: 3px dotted green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.333%; */
  display: none;
}

.DetailContent {
  background: white;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  flex-grow: 1;
}

.DetailName {
  min-height: 2em;
  background: #397AF2;
  color: white;
  font-size: 1.25em;
  font-weight: 300;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.DetailSubjectsClasses {
  min-height: 3.5em;
  padding: 1em 1em;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9em;
}


.classTick {
  border: 1px solid #e5e3df;
  background: white;
  border-radius: 3px;
  padding: 0.35em 0.65em;
  margin: 0 0.15em;
}

.classTick>div {
  text-align: center;
  font-size: 1em;
}

.classLabel {
  color: black !important;
}

.tickIcon {
  padding-top: 0.45em;
}

.hasClass {
  color: #11b207;
}

.doesntHaveClass {
  color: black;
  background: grey;
  opacity: 0.3;
}

.DetailContact {
  min-height: 5em;
  padding: 1.25em 1em;
  display: flex;
  flex-direction: column;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  border-bottom: 1px solid #E0E0E0;
  justify-content: center;
}

.ContactBox {
  display: flex;
  flex-direction: row;
  padding: 0.25em 0;
  align-items: center;
}

.ContactIcon {
  font-size: 1em;
  min-width: 2em;
  color: #397AF2;
}

.ContactText {
  font-size: 0.75em;
  font-weight: 200;
}

.DetailTiming {
  padding: 1.25em 1em;
}

.dayBox {
  display: flex;
  padding: 0.15em 0;
  font-size: 0.75em;
}

.dayLabel {
  min-width: 7em;
}


.DetailTiming>.ContactBox {
  align-items: flex-start;
}

.MapBtn {
  margin: 1px;
}

.DetailBtn {
  margin-left: 1px;
}

.Filters {
  border-bottom: 1px solid #E0E0E0;
  padding: 0.35em 2em;
  display: flex;
  flex-direction: column;
  position: fixed;
  min-height: 10em;
  z-index: 99999;
  background: white;
  justify-content: center;
  width: calc(66.66% - 4em);
}

.FiltersReset {
  margin-top: 1em;
  font-size: .85em;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 200;
  color: #6da3e3;
  cursor: pointer;
  text-align: left;
}

.FiltersReset:hover {
  color: #357fd6;
}

.Listings {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 11.5em;
}

.Listing {
  border: 1px solid white;
  margin: 0.5em;
  border-radius: 3px;
  cursor: pointer;
}

.Listing:hover {
  border: 1px solid #E0E0E0;
  
}

.selectedListing {
  background: #E0E0E0;;
}

.Listing-info {
  padding: 0.25rem;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.listing-info-name {
  font-size: 1.25em;
  font-weight: 300;
  color: #484848;
}

.listing-info-locality {
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(118, 87, 66);
  text-transform: uppercase;
}

.Listing-picture {
  border-radius: 3px;
  width: 225px;
  height: 125px;
  background-image: url(http://www.epigami.sg/blog/wp-content/uploads/2015/10/AKLC.png);
  background-size: contain;
}

.Filters-Conditions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Filters-Condition {
  display: flex;
  flex-direction: row;
  padding: 0.25em 0;
  width: 100%;
}

.condition-name {
  width: 6.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1em;
  color: #808080;
}

.Filters-Options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  height: 1.5em;
  border: 1px solid rgba(0,0,0,.2);
  padding: 0.25em 1em;
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin: 0 0.25em;
  cursor: pointer;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #0070eb;
  font-size: 0.75em;
}

.option:hover{
  background: #0062ce;
  color: white;
  border-color: #0062ce;
}

.optionSelect {
  background: #0070eb;
  color: white;
  border-color: #0062ce;
}
